/* default and necessory settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;;
    background-image: url('./Images/bg-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color:hsl(257, 40%, 49%);
}

/* logo + image */
.logoImages{
    width: 50%;
    height: 100%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.logo{
    width: 250px;
    margin-bottom: 100px;
}

.illustration{
    width: 100%;
}

/* texts */
.texts{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 80px;
}

.title{
    font-size: 52px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 30px;
    width: 80%;
}

.subtitle{
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 30px;
    width: 80%;
    line-height: 1.5;
}

.getStartedButton{
    padding: 15px 60px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(257, 40%, 49%);
    font-size: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
}

/* animation on hover effect */
.getStartedButton:hover{
    background-color: hsl(318, 95%, 76%);
    color:hsl(0, 0%, 100%);
}

.medias, .app{
    display: none;
}

@media (max-width: 1200px){
    .container{
        flex-direction: column;
        background-image: url('./Images/bg-mobile.svg');
        min-height: 100vh;
    }

    .logoImages, .texts{
        width: 100%;
        height: 500px;
        padding: 100px 40px 40px 40px;
        align-items: center;
        text-align: center;
    }

    .logo{
        width: 200px;
        margin-bottom: 40px;
    }

    .illustration{
        max-width: 500px;
    }

    .title{
        font-size: 36px;
        max-width: 500px;
    }

    .subtitle{
        font-size: 16px;
        max-width: 550px;
    }

    .medias{
        display: flex;
        gap: 20px;
        margin-top: 30px;
    }

    .app{
        display: inline-block;
        background-color: hsla(0, 0%, 100%, 0);
        color: hsl(0, 0%, 100%);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        cursor: pointer;
        border: 1px solid white;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, color 0.3s;
    }

    .app:hover{
        background-color: hsl(318, 95%, 76%);
        color:hsl(0, 0%, 100%);
        border: 1px solid hsl(318, 95%, 76%);
    }
}
